In [1]:
import pandas as pd
pd.set_option('display.max_columns', 6)
pd.set_option('display.max_rows', 67)

In [2]:
data_raw = pd.read_csv('../datasets/COVID-19/owid-covid-data.csv')
data_raw.head()

,iso_code,continent,location,...,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,...,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,...,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,...,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,...,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,...,NaN,NaN,NaN

In [3]:
data_raw.shape

(220105, 67)

In [4]:
(100*data_raw.isna().sum() / data_raw.shape[0])

iso_code                                       0.000000
continent                                      5.751800
location                                       0.000000
date                                           0.000000
total_cases                                    4.070330
new_cases                                      4.176643
new_cases_smoothed                             4.720020
total_deaths                                  12.748007
new_deaths                                    12.770723
new_deaths_smoothed                           13.306831
total_cases_per_million                        4.509212
new_cases_per_million                          4.615524
new_cases_smoothed_per_million                 5.156630
total_deaths_per_million                      13.180982
new_deaths_per_million                        13.203698
new_deaths_smoothed_per_million               13.737534
reproduction_rate                             24.784535
icu_patients                                  87.263352
icu_patients_per_million                      87.263352
hosp_patients                                 86.005316
hosp_patients_per_million                     86.005316
weekly_icu_admissions                         96.768815
weekly_icu_admissions_per_million             96.768815
weekly_hosp_admissions                        93.561255
weekly_hosp_admissions_per_million            93.561255
total_tests                                   63.932214
new_tests                                     65.742259
total_tests_per_thousand                      63.932214
new_tests_per_thousand                        65.742259
new_tests_smoothed                            52.765725
new_tests_smoothed_per_thousand               52.765725
positive_rate                                 56.417619
tests_per_case                                57.135004
tests_units                                   51.483156
total_vaccinations                            71.988369
people_vaccinated                             73.216419
people_fully_vaccinated                       74.472184
total_boosters                                85.050771
new_vaccinations                              76.965994
new_vaccinations_smoothed                     42.295268
total_vaccinations_per_hundred                71.988369
people_vaccinated_per_hundred                 73.216419
people_fully_vaccinated_per_hundred           74.472184
total_boosters_per_hundred                    85.050771
new_vaccinations_smoothed_per_million         42.295268
new_people_vaccinated_smoothed                42.556053
new_people_vaccinated_smoothed_per_hundred    42.556053
stringency_index                              24.555099
population                                     0.582904
population_density                            11.195566
median_age                                    17.824675
aged_65_older                                 18.692897
aged_70_older                                 18.254924
gdp_per_capita                                18.125440
extreme_poverty                               46.600940
cardiovasc_death_rate                         18.041844
diabetes_prevalence                           13.845210
female_smokers                                37.916903
male_smokers                                  38.766952
handwashing_facilities                        59.706958
hospital_beds_per_thousand                    27.087072
life_expectancy                                6.570500
human_development_index                       20.081779
excess_mortality_cumulative_absolute          96.610709
excess_mortality_cumulative                   96.610709
excess_mortality                              96.589355
excess_mortality_cumulative_per_million       96.610709
dtype: float64

In [5]:
data = data_raw.dropna(thresh=20*data_raw.shape[0] /100, axis=1)
data.head()

,iso_code,continent,location,...,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,...,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,...,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,...,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,...,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,...,0.5,64.83,0.511

In [6]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'total_tests',
       'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')